* {
  /*por enquanto vou deixar aqui*/
  font-family: monospace;
  list-style: none;
  -webkit-font-smoothing: antialised;
}
html {
  margin: 5rem;
  max-height: 100vh;
}

body {
  margin: 0rem;
  text-align: center;
  transition: 300ms;
  height: 10vh;
  background: #59a9c9;
}
button {
  transition: 300ms;
  margin: 5rem;
  padding-block: 0.5rem;
  padding-inline: 5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 4px 15px;
  border: black;
  border-radius: 3.5px;
}
button:hover {
  background: #2d7ec0;
  color: white;
  padding-block: 0.8rem;
  padding-inline: 4.6rem;
  box-shadow: 4px 8px 30px black;
  border: black;
  border-radius: 2px;
}
.botoesRodape {
  display: flex;
  flex-direction: row;
}
.botoesLoja {
  width: 100%;
  overflow: visible;
  padding: 0;
  /* height: 18.875rem;
  max-height: 18.875rem; */
}
ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: auto;
}

.fadeNosItem {
  transition: ease-in-out 300ms;
  color: white;
  display: grid;
  background: #1a1430;
  width: max-content;
  padding-block: 3.125rem;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 2.2rem;
  position: relative;
  font-style: italic;
  opacity: 0;
  box-shadow: 4px 4px 10px black;
  border-radius: 2px;
}
.perigo {
  color: rgb(194, 9, 9);
}

.noite {
  transition: 300ms;
  background: #1a1430;
  color: white;
}
.noite .fadeNosItem {
  color: black;
  display: grid;
  background: white;
}
.noite button {
  transition: 300ms ease-in-out;
  background: #1a1430;
  color: white;
  border: white;
  border-inline: solid;
  border-radius: 1px;
  padding-top: 1em;
  box-shadow: 0px 0px 0px;
}
.noite button:hover {
  transition: 300ms;
  border-block: solid white;
  border-inline: #1a1430;
}

.tarde {
  transition: 300ms;
  background: burlywood;
}
.tarde button {
  transition: 300ms;
  background: rgb(179, 139, 87);
  border-radius: 4px;
  padding-inline: 3rem;
  padding-block: 2rem;
  color: 0;
  border: 4px;
  box-shadow: 0px 0px 0px;
}
.tarde .fadeNosItem {
  color: black;
  background: rgb(179, 139, 87);
}
.tarde button:hover {
  background: rgb(112, 87, 53);
  padding-block: 1.8rem;
}

::-webkit-scrollbar {
  height: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 3.5px;
}
::-webkit-scrollbar-track {
  background: #2d7ec0;
  border-radius: 2px;
}

.noite ::-webkit-scrollbar {
  height: 0.625rem;
}
.noite ::-webkit-scrollbar {
  height: 1rem;
}
.noite ::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}
.noite ::-webkit-scrollbar-track {
  background-color: #1a1430;
  border-radius: 4px;
}

.tarde ::-webkit-scrollbar {
  height: 1.2rem;
}
.tarde ::-webkit-scrollbar-thumb {
  background-color: rgb(179, 139, 87);
  border-radius: 4px;
}
.tarde ::-webkit-scrollbar-track {
  background-color: rgb(112, 87, 53);
  border-radius: 4px;
}
.tarde ::-webkit-scrollbar-button {
  display: none;
}
@media (max-width: 737px) {
  body {
    overflow: auto;
    height: 10vh;
  }
  .StandardAspectRatio {
    display: grid;
  }
  button {
    transition: 300ms;
    text-align: center;
    margin: 0;
    margin-block: 5%;
    padding-block: 2rem;
    padding-inline: 5rem;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 4px 15px;
    border: black;
    border-radius: 3.5px;
  }
  button:hover {
    background: #2d7ec0;
    color: white;
    box-shadow: 4px 8px 30px black;
    padding-block: 2.3rem;
    padding-inline: 4.6rem;
    border: black;
    border-radius: 2px;
  }
}
